form {
    display: inline-block;
    width: 100%;
}

form > .form-row {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

form > .form-row:first-of-type {
    margin-top: 0;
}

form > .form-row >label {
    display: inline-block;
    width: 100%;
    font-size: 17px;
    color: #777;
    margin-bottom: 5px;
    text-transform: uppercase;
}

form > .form-row > input{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    border: none;
    border-bottom: 2px solid #BFBFBF;
}

form > .form-row > button {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    color: #fff;
    background: #2348d4;
background: linear-gradient(
    43deg, 
    rgba(35,72,212,1) 0%,
     rgba(2,101,222,1) 100%)
     ;
    border: none;
}

form > .form-row > span {
}

form > .form-row > a {
}